<form class="form search-booksworld" action="https://mit.worldcat.org/search" method="get" id="booksearch" data-target="worldcat">
	<div class="hidden">
		<input type="hidden" name="qt" value="wc_org_mit">
		<input type="hidden" name="qt" value="affiliate">
		<input type="hidden" name="q">
	</div>
	<label for="searchinput-booksworld">Search for books, ebooks, audio books, music, and videos</label>
	<input class="request field field-text" type="text" id="searchinput-booksworld" name="search" placeholder="Search books, films, music scores...">
	<div class="field-wrap-select">
		<label class="sr" for="searchlimit-booksworld">limit to</label>
		<select class="field field-select" name="limit" id="searchlimit-booksworld">
			<option value="">Keyword</option>
			<option value="ti:">Title</option>
			<option value="au:">Author</option>
		</select>
	</div>
	<input class="button button-search" type="submit" value="Search">
</form>
<script type="text/javascript">
	jQuery( document ).ready( function() {
		jQuery( 'form#booksearch' ).on( 'submit', function() {
			// Worldcat prepends a code to the search string to enable title
			// or author searching, so we assemble the search string on
			// submit.
			this.q.value = (this.limit.value + this.search.value);

			// Log search details
			logSearch( this );

			return true;
		});
	});
</script>
