<p>Search books and other media at MIT.</p>
<form action="https://library.mit.edu/F/" method="get" id="bartonsearch" data-target="barton">
	<div class="hidden">
		<input type="hidden" name="func" value="find-b">
	</div>
	<div class="row">
		<input type="text" name="request" placeholder="Search books, films, music scores, maps...">
		<input type="submit">
	</div>
	<select name="find_code">
		<option value="WRD">Keyword</option>
		<option value="SCAN_TTL">Title (starts with)</option>
		<option value="SCAN_AUT">Author (last name first)</option>
		<option value="SCAN_CND">Call number (starts with)</option>
	</select>
</form>
<script type="text/javascript">
	jQuery( document ).ready( function() {
		jQuery( 'form#bartonsearch' ).on( 'submit', function() {
			// Barton searching requires a few hidden fields to be modified
			// to enable title, author, or call number searching. We thus need
			// to modify the form as it is submitted.
			if ( this.find_code.value !== 'WRD' ) {
				// This isn't a keyword search - so we modify the form.
				this.func.value = 'find-e';
				this.find_code.name = 'find_scan_code';
			}

			// Log search details
			logSearch( this );

			return true;
		});
	});
</script>
