<p>Search books and other media</p>
<form action="https://library.mit.edu/F/" method="get">
	<input type="hidden" name="func" value="find-b">
	<input type="hidden" name="find_code" value="WRD">
	<div class="row">
		<input type="text" name="request" placeholder="Search books, films, music scores, maps...">
		<input type="submit">
	</div>
</form>
<p>Also try: <a href="/bartonplus">BartonPlus</a>, <a href="/barton-reserves">Course reserves</a>, <a href="/barton-theses">Thesis</a>, or <a href="#search-more">view more search options</a></p>