<p>Search individual articles</p>
<form action="https://search.ebscohost.com/login.aspx" method="get">
	<input name="direct" value="true" type="hidden">
	<input name="scope" value="site" type="hidden">
	<input name="site" value="eds-live" type="hidden">
	<input name="authtype" value="ip,guest" type="hidden">
	<input name="custid" value="s8978330" type="hidden">
	<input name="profile" value="eds" type="hidden">
	<input name="groupid" value="main" type="hidden">
	<div class="row">
		<input type="text" name="bquery" placeholder="Search journal articles...">
		<input type="submit">
	</div>
</form>
<p>Also try: Browse journals by title, View article databases</p>
